.idea/*
Geocaching/.idea/*
Geocaching/.settings/*
Geocaching/bin/*
Geocaching/.classpath
Geocaching/.project
Geocaching/Geocaching.iml
*.class
JavaApplication1/nbproject/private/
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/
*.xml
*.mf
*.properties
